.mainbackground {
    position: absolute;
    left: 0px;
    top: -10vw;
    width: 100%;
}
.titlebar {
    position: fixed;
    top: -3vw;
    left: 0px;
    font-size: 4vw;
    width: 100%;
    text-align: center;
    font-family: "Arial";

    padding: 2vw 0;
    z-index: 1;
    z-index: 4;
}
.textmain {
    background-image:url(https://gblenks.github.io/finback.png);
    background-size: cover;
    background-height: 
    z-index: 1;
    top: 20vw;
    position: absolute;
    width: 100%;
    left: 0;
    height: 90%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
}

body {
    background-color: rgb(34, 177, 76)
}
.titlecontact {
    font-size: 3.2vw;
    color: ;
    width: 35%;
    background-color: rgba(34, 240, 76, 0.8);
    box-shadow: 0 1.4vw #333333;
    border-radius: 8px;
    border: none;
    z-index: 5;
    font-family: 'Montserrat', sans-serif;
    
}
.titlecontact:hover {
    background-color: rgba(20, 255, 50, 1);
}
.titlecontact:active {
    box-shadow: 0 0.7vw black;
    transform: translateY(0.7vw)
}
.cutnedge {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    top: 4vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 8vw;
    color: rgba(34, 200, 76, 1);
    text-shadow: 1vw 1.5vw black;
}
.services {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    top: 15vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: rgba(34, 200, 76, 1);
    text-shadow: 0.5vw 1vw black;
}
.contactform {
    z-index: 5;
    position: absolute;
    top: 140vw;
    left: 0;
    padding: 20vw 17vw 5vw 17vw;
    background-color: rgb(34, 177, 76);
    z-index: 10;
    font-size: 1vw;
}
input, textarea {
    font-size: 2.5vw;
    font-family: "Arial";
    height: 4vw;
    border-radius: 8px;
    width: 60vw;
}
textarea {
    resize: none;
    height: 15vw;;
}
.subbut {
    font-size: 3vw;
    height: 5vw;
    color: black;
    background-color: rgba(34, 240, 76, 0.8);
    box-shadow: 0 10px #333333;
    border: none;
    border-radius: 8px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}
.subbut:hover {
    background-color: rgba(20, 255, 50, 1);
}
.subbut:active {
    box-shadow: 0 5px black;
    transform: translateY(5px)
}
.phonecontact {
    position: absolute;
    top: 138vw;
    font-family: 'Montserrat', sans-serif;
    z-index: 20;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 3.5vw
}
.phonenumber {
    z-index: 20;
    top: 139vw;
    position: absolute;
    font-family: "Arial";
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 7vw;
    color: rgb(20, 255, 50);
    text-shadow: 0.6vw 0.6vw black
}
.text1  {
    position: absolute;
    top: 17vw;
}
.text2 {
    position: absolute;
    top: 50vw
}
.text3 {
    position: absolute;
    top: 100vw;
}
.text1,.text2,.text3 {
    padding: 0 6vw;
}
.whatwedo {
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    width: 100%;
    left: 0;
    text-align: center;
    top: 31vw;
    color: black;
}
.rightline {
    width: 45%;
    z-index: 3;
    position: absolute;
    height: 0.8vw;
    top: 10vw;
    right: 26.5vw;
}
.leftline {
    width: 45%;
    z-index: 3;
    position: absolute;
    height: 0.8vw;
    top: 25vw;
    left: 26.5vw;
}
.rightline2 {
    width: 12%;
    z-index: 3;
    position: absolute;
    height: 0.5vw;
    top: 36vw;
    right: 22vw;
}
.leftline2 {
    width: 12%;
    z-index: 3;
    position: absolute;
    height: 0.5vw;
    top: 36vw;
    left: 22vw;
}
