html,
body {
    background-color: #ffffff;
    color: "white";
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 300;
}
p {
    margin: 0 0 15px;
}
ol,
ul {
    padding: 0;
}
img {
    max-width: 100%;
}
p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
.text {
    color: #333333;
}
.colorstext {
    color: #f56363;
}
.coloricon i {
    color: #f56363;
}
.colorsbg {
    background: #f56363;
    color: #ffffff;
}
.overlay {
    background-color: rgba(0, 0, 0, .15);
    width: 100%;
    min-height:700px;
}
.navbar {
	position: fixed;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 1) calc(20px + 0.6vw), rgba(0, 0, 0, 0) 40% );
    border: 0;
    z-index: 999;
    height: x;
    top: 0;
}
.navbar li{
    display: inline;
    padding: 0px 1vh; 
    top: 0px;
}
.navbar a {
    font-family:'nexa_boldregular';
    color: black;
}
.navbar a:hover {
    color: #7a7a7a;
}
.navbar_list {
    text-align: center;
    font-size: calc(10px + 1vw);
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: white;
}
.home{
  background: url(../images/header-bg.jpg) no-repeat center top fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  overflow: hidden;
  height: calc(170px + 40vw);
}
.title_line1{
    position: absolute;
    left: 50%;
    width: 30%;
    top: calc(10vw + 30px);
    animation: draw 3s linear alternate;
}
.title_line2{
    position: absolute;
    right: 50%;
    width: 30%;
    top: calc(10vw + 30px);
    animation: draw 3s linear alternate;
}
@keyframes draw {
  from {
    width: 0px;
  }
  to {
    width: 30%;
  }
}
.title {
   position: absolute;
    width: 100%;
    left: 0;
    top: 0vh
}
.title_card *{
    color: white;
    font-family:'nexa_lightregular';
    text-align: center;
    font-size: 10vw;
    padding-top: 100px;
}
.title_card h1{
    font-family:'nexa_boldregular';
    text-align: center;
    font-size: 10vw;
}
.title_card span{
    font-family:'nexa_lightregular';
}
.title_card h3{
    font-size: 7vw;
    letter-spacing: 2vw;
    padding-top: 0px;
}
/*About Section */
.about_wrap {
    background:
      linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../images/about-bg.jpg);
    background-size: cover;
    top: calc(30vh + 20vw);
    text-align: center;
    font-family:'nexa_boldregular';
    padding-bottom: 20px;
    color: white;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
}
.about_content h3 {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: calc(20px + 2vw);
}
.about_content p {
    font-size: calc(15px + 1vw);
    line-height: calc(10px + 2vw);
    padding-left: 8vw;
    padding-right: 8vw;
    text-transform: uppercase;
    font-family:'nexa_lightregular';
}
.portfolio_wrap{
	background: url(../images/portfolio-bg.jpg) no-repeat center top fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	width: 100%;
	overflow: hidden;
    text-transform: uppercase;
    font-family:'nexa_boldregular';
    color: #ffff;
}
.portfolio_wrap h1{
    font-size: calc(15px + 1vw);
    text-align: center;
}
.contact_wrap, h4, h2 {
    text-align: center;
    text-transform: uppercase;
    font-family:'nexa_boldregular';
    font-size: calc(10px + 1vw);
}
.contact_wrap{
    padding-top: 10px;
}
.phone {
    padding-top: 10px;
}
.comp_form {
    padding-top: 10px;
}
.subbut {
    padding: 1px 30px;
    font-size: calc(10px + 1vw);
    color: black;
    background-color: #c4c4c4;
    box-shadow: 0 10px #333333;
    border-radius: 8px;
    display: inline-block;
}
.subbut:hover {
    background-color: #7a7a7a;
}
.subbut:active {
    box-shadow: 0 5px #1a1a1a;
    transform: translateY(5px)
}
input, textarea {
    font-size: calc(10px + 1vw);
    height: 30px;
    border-radius: 8px;
    width: 250px;
    font-family:'nexa_boldregular';
    text-transform: uppercase;
    text-align: center;
}
textarea {
    resize: none;
    height: 200px;
}
.copyright{
	border-top:1px solid #bebebe;
	padding:30px 0;
}
.copyright p{
	color:#bebebe;
	font-size:16px;
	text-transform:uppercase;
	font-family:'nexa_lightregular';
    text-align: center;
}



